*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(/HTML/IMG/pngtree-yellow-background-gradient-vector-picture-image_15820133.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:black;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
.NAVBAR{
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 182, 0);
    margin-bottom: 30px;
}
ul{
padding:15px;
}

ul li{
    display: inline;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:15px;
    padding-left: 20px;
    padding-right: 20px;
}
ul li:hover{
    border:solid rgb(0, 0, 0) 5px;
    background-color: rgb(223, 208, 0);
}

.bloco{
    margin-top:30px;
    margin-left: 20%;
    margin-right: 20%;
}
.blocos_text{
    font-size: large;
    border:solid rgb(170, 153, 0) 7px;
    border-radius: 20px;
    padding:20px;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(187, 255, 0);
}